.passScore {
    flex-grow: 1;
    width: 10%;
    height: 40%;
    margin: .3em;
}

.passScoreText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: .1em;
    overflow: hidden;
}
