.teamScore {
    flex-grow: 8;
}

.teamScoreText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: .1em;
    overflow: hidden;
}
