.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 50%;
}

.nameContainer {
    height: 40%;
}

.scoreAndTimeoutsContainer {
    display: flex;
    height: 60%;
    
}

.home {
    flex-direction: row;
}

.away {
    flex-direction: row-reverse;
}
