.component {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-content: stretch;
    border-radius: 20px;
}

.header {
    background-color: #ccc;
    border-radius: 20px 20px 0 0;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}