.container {
    display: block;
    height: 75%;
    width: 5vw;
    margin: 0 5px;
    text-align: center;
}

.reviewContainer {
    display: block;
    height: 25%;
    width: 5vw;
    margin: 5px;
    text-align: center;

    >.symbol {
        height: 100%;
    }
}

.symbol {
    display: block;
    height: 30%;
    width: 100%;
    color: black;
}