.scoreboardPage {
    display: flex;
    background-color: black;
    width: 100%;
    height: 100%;
}

.sidePadding {
    display: inline-block;
    flex-grow: 1;
}

.centerContent {
    display: inline-flex;
    flex-direction: column;
    max-width: 140vh;
    width: 100%;
}

.clocksAndScores {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.teamDetailsContainer {
    display: flex;    
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    height: 50vh;
    overflow: hidden;
}

.clockContainer {
    display: flex;    
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    padding: 1em;
    height: 30vh;
}

.clock {
    width: 40%;
    height: 100%;
}

.clockText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: .1em;
    overflow: hidden;
}

body {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
}